#navbarNavDarkDropdown{
    justify-content: flex-end;
    color: black;
}
#barra-nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.navbar{
    background-color: whitesmoke;
}
.navbar-brand{
    justify-content: flex-start;
}
